<!doctype html>
<html lang="en">
    <% include head %>
    <body>
        <%- message %>
        <%- error.status %>
        <%- error.stack %>
    </body>
    <% include footer %>
    <body>
</html>

